* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
     
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #0f0d1e;
    color: #fff;
}

body {
    padding: 0 23px;
    background: url(./graphics/ellipses.svg) no-repeat top;
    background-position: top -200px center
}

.header-menus{
    position: absolute;
    background: linear-gradient(162.23deg, rgba(119, 113, 135, .2) -13.65%, rgba(119, 113, 135, 0) 218.94%);
    border-radius: 15px;
    padding: 5px 12px;
    top: 45px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .005em;
    color: #777187;
    min-width:150px;
    display: none;
}

ul{  
    list-style-type: none;  
    padding:0px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    width:100%;
    margin:5px 0px 5px 0px;
    text-align: left;
}

li:hover{
    color:#fff;
}

header {
    margin-top: 15px;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-left:23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    max-width: 33%;
}

header div a {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    padding: 0px 10px;
}

header div a:after {
    content: ">";
    padding-left: 5px;
    transform: rotate(-45deg);
    color: #ddd;
    font-weight: 200;
    font-size: larger;
    margin-left: 6px;
}

header div a:hover,
.header-menu-head:hover {
    color: rgb(17, 214, 132);
    content: none;
}

.header-menu:hover .header-menus{
    display: block;
}

header div a:hover::after {
    color: transparent;
}

header .header-menu{
    margin-left:5px;
    display: inline;
    width: fit-content;
}

.header-center {
    display: flex;
    padding: 13px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.button-use-app {
    flex-direction: row;
    background: #4f3cc8;
    border-radius: 10px;
}

.button-use-app:hover {
    background: #6350db;
}

.use-app {
    background: transparent;
    height: 100%;
    border-radius: 10px;
    padding: 13px 32px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.use-app,
.button-use-app {
    display: flex;
     
    justify-content: center;
    align-items: center;
}


/* ################ main ############ */

.heading-disp {
    display: flex;
     
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    width: fit-content;
    margin-bottom: 160px;
}

.h7 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
     
    text-align: center;
    letter-spacing: 1.5px;
    color: #4d495d;
}

.trusted-inst {
    color: #b4b4c7;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2px;
    margin-top: 12px;
    font-weight: 600;
}

h1 {
    display: inline;
    max-width: 882px;
    background: linear-gradient(93.85deg, #7affd8 -6.23%, #fff 44.85%, #6351d7 100.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    margin: 20px;
    text-align: center;
}

.only-background {
    background: #4f3cc8;
    margin-right: 33px;
}

.border-grad {
    width: fit-content;
    flex-direction: row;
    padding: 1.5px;
    border-radius: 10px;
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%), linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
}

.only-border {
    background: #0f0d1e;
}

.only-border:hover {
    background: linear-gradient(0deg, #0f0d1efa, #0f0d1ef1, #0f0d1eea);
}


.btns-two {
    display: flex;
     
    flex-direction: row;
    justify-content: space-around;
    margin-top: 62px;
}

.statistics {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
     
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 210px;
}

.stat-div {
    width: 33%;
    display: flex;
     
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stat-div span:first-of-type {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    display: flex;
     
    align-items: center;
    text-align: center;
    color: #fff;
}

.stat-div span:last-of-type {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 12px;
    letter-spacing: .2px;
    color: #777187;
}

.stat-1 {
    align-items: flex-start;
}

.stat-3 {
    align-items: end;
}

.statistics .stat-2 {
    border-right: 1px solid #777187;
    border-left: 1px solid #777187;
    width: 50%;
}

.stat-div span:last-child {
    margin-top: 12px;
}


/* ################  safegaurd ############# */

.safegaurd {
    display: flex;
     
    flex-direction: column;
    max-width: 1121px;
    width: 100%;
    position: relative;
    min-height: 850px;
    margin: auto;
    margin-bottom: 211px;
}

.safeg-back-div {
    width: 100%;
    display: flex;
     
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

h2 {
    font-size: 3rem;
    margin: 20px 0px;
    max-width: 470px;
}

p {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    color: #b4b4c7;
    line-height: 25px;
    margin-top: 42px;
    font-weight: 400;
    letter-spacing: .5px;
    max-width: 470px;
}


.safeg-front-div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
     
    flex-direction: row;
    justify-content: space-between;
}

.safeg-fr-d1 {
    position: relative;
    background: transparent;
    width: 25%;
    min-height: 850px;
}

.safeg-fr-d2 {
    position: relative;
    width: 75%;
    min-height: 850px;
    display: flex;
     
    flex-direction: row;
    justify-content: space-between;
}

.safeg-fr-d2-comdiv {
    width: 33%;
    height: 100%;
    display: flex;
     
    flex-direction: column;
     
    justify-content: center;
    align-items: center;
}

.safeg-fr-d2-comdiv:first-of-type {
    justify-content: flex-end;
}

.safeg-fr-d2-comdiv:last-of-type {
    justify-content: flex-start;
}

.safeg-fr-d2d1-contcom-d1,
.contcom-d2-text {
    margin: 1%;
    width: 90%;
    height: 25%;
    border-radius: 20px;
}

.safeg-fr-d2d1-contcom {
    border-radius: 25px;
    background: linear-gradient(181.12deg, rgba(119, 113, 135, .15) .96%, rgba(119, 113, 135, 0) 139.33%);
    border: 1px solid #3e385b;
    position: relative;
    display: flex;
     
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 212px;
    width: 256px;
    margin-bottom: 20px;
}

.contcom-d2-text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    height: fit-content;
    padding: 0px;
    display: flex;
     
    justify-content: center;
    align-items: center;
}

.contcom-d1-imgdiv {
    background: linear-gradient(182.13deg, rgba(189, 179, 255, .2) -21.81%, rgba(189, 179, 255, 0) 104.23%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    display: flex;
     
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
}

.contcom-d1-imgdiv-shield {
    z-index: 10;
    position: absolute;
    left: 65px;
    top: 80px;
}

.contcom-d1-imgdiv-shield img {
    width: 34px;
    height: 34px;
}

.safeg-fr-d2d1-contcom-d1 {
    height: fit-content;
}

.safeg-fr-d2d1-special {
    display: flex;
     
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 256px;
    height: 220px;
    border-radius: 25px;
    background: #fff;
}

.safeg-fr-d2d1-special:hover {
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%), linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%)
}

.safeg-fr-d2d1-special-bdr {
    background: #0f0d1e;
    cursor: pointer;
    display: flex;
     
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 24px;
}

.safeg-special {
    margin: 4px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.5px;
    word-break: normal;
    color: #fff;
    text-align: left;
}

.safeg-special-imgdiv {
    width: 100%;
    display: flex;
     
    justify-content: end;
}


/* #####################  Insurance  ############## */

.insurance {
    display: flex;
     
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 216px;
}

.insur-d1 {
    width: 60%;
    margin-bottom: 64px;
    display: flex;
     
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insur-d1 h2 {
    max-width: 560px;
    text-align: center;
}

.insur-d1 p {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.insur-lnk {
    margin-top: 31px;
    text-decoration: none;
    display: flex;
     
    justify-content: space-between;
    align-items: center;
}

.insur-span {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    transition: 0.2s all ease;
    margin-right: 8px;
}

.insur-lnk:hover .insur-span {
    margin-right: 16px;
    text-decoration: underline;
}

.insur-d2 {
    max-width: 1122px;
    width: 100%;
    mix-blend-mode: normal;
    background: linear-gradient(181.12deg, rgba(119, 113, 135, .15) .96%, rgba(119, 113, 135, 0) 139.33%);
    border: 1px solid #403b61;
    backdrop-filter: blur(4px);
    border-radius: 25px;
     
    height: fit-content;
    padding: 64px 60px 26px;
}

.insur-d2-cont {
    display: flex;
     
    flex-direction: column;
    justify-content: space-between;
}

.insur-d2-cont-div1,
.insur-d2-cont-div2 {
    display: flex;
     
    justify-content: space-between;
    margin-bottom: 20px;
}

.d2-cont-bdrdiv {
    width: 320px;
    height: 114px;
    background: #403b61;
    padding: 1px;
    border-radius: 25px;
}

.d2cont-bodrdiv-cont {
    border-radius: 25px;
    background: #1b182d;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 318px;
    height: 112px;
    cursor: pointer;
}

.d2-cont-bdrdiv:hover {
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%), linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
}

.bodrdiv-cont-d1 {
    width: 70%;
    position: relative;
    display: flex;
     
    flex-direction: row;
}

.insur-img-div {
    display: flex;
     
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #fff;
    height: 60px;
    width: 60px;
}

.bodrdiv-cont-d1-sp {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .2px;
    margin-top: 5px;
    margin-left: 12px;
}

.insur-img-div img {
    height: 35.74px;
    width: 36.02px;
}

.d2cont-bodrdiv-cont-more {
    text-align: right;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #777187;
}

.d2cont-cont-more::after {
    content: ">";
    color: #777187;
    margin-left: 5px;
    font-size: 16px;
}

.insur-d2-all {
    width: fit-content;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 26px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #00ffb4;
}

.insur-d2-all:hover {
    color: #00b074;
}


/* ########################  Community  ######################### */

.community {
    display: flex;
     
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 210px;
}

.community-d1 {
    display: flex;
     
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.community-d1 h2 {
    max-width: 660px;
    margin: 20px 0px 0px;
}

.community-d1 p {
    max-width: 600px;
    margin: 16px;
}

.community-d2 {
    display: flex;
     
    flex-direction: row;
    justify-content: space-between;
    margin: 65px 0px 0px;
    max-width: 950px;
    width: 100%;
}

.community-d2-d1 {
    cursor: pointer;
    padding: 32px;
    width: 387px;
    height: 409.02px;
    background: linear-gradient(123.71deg, #fff, rgba(189, 179, 255, 0) 50.21%), linear-gradient(122.69deg, #8769ff 8.82%, #67ffd5 109.84%);
    box-shadow: inset 0 4px 30px 10px rgb(84 52 208 / 50%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 25px;
    display: flex;
     
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.community-d2-d1-img {
    position: absolute;
    top: -50px;
}

.community-d2-d1-sp {
    position: absolute;
    bottom: 32px;
    left: 20px;
    right: 20px;
    display: flex;
     
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .5px;
    color: #191531;
    max-width: 387px;
}

.community-d2d1-sp1 {
    font-size: 32px;
    line-height: 33px;
}

.community-d2d1-sp2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .5px;
    color: #191531;
    margin-top: 16px;
    max-width: 205px;
    font-size: 16px;
    line-height: 25px;
}


.community-d2-d2 {
    display: flex;
     
    flex-direction: column;
    justify-content: space-between;
    width: 515px;
    margin: 0px 0px 0px 32px;
}

.community-d2d2-d2 {
    height: 100%;
}

.community-d2d2-com {
    cursor: pointer;
    display: flex;
     
    align-items: center;
    justify-content: center;
    padding: 1px;
    background: #3e385b;
    border-radius: 25px;
    background-blend-mode: overlay;
    height: 195px;
}

.community-d2d2-com2 {
    height: 100%;
    box-sizing: border-box;
    background: #0f0d1e;
    border-radius: 25px;
}

.community-d2d2-com1 {
    height: 100%;
    box-sizing: border-box;
    background: #0f0d1e;
    border-radius: 25px;
}

.community-d2d2-com1-1 {
    width: 513px;
    height: 195px;
    background: linear-gradient(181.12deg, rgba(119, 113, 135, .15) .96%, rgba(119, 113, 135, 0) 139.33%);
    border-radius: 25px;
}

.community-d2d2-com:hover {
    background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%), linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
}

.community-d2d2-com1-1-2 {
    width: 100%;
    height: 100%;
    background: url(./graphics/lineGraphics2.svg) no-repeat 100% 100%;
}

.community-d2d2-com1-1-1 {
    width: 100%;
    height: 100%;
    background: url(./graphics/lineGraphics.svg) no-repeat 100% 100%;
}

.community-d2d2-d2 {
    display: flex;
     
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.communty-d2d2a-bdr {
    height: 100%;
    padding: 32px;
}

.communty-d2d2a-bdr span {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    max-width: 513px;
    width: fit-content;
}

.community-d2d2-sp1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 4px;
    display: flex;
     
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.community-d2d2-sp2 {
    letter-spacing: .5px;
    margin: 0px;
    max-width: 513px;
    width: 100%;
}

.span-img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    filter: invert(87%) sepia(90%) saturate(4%) hue-rotate(264deg) brightness(111%) contrast(97%);
}

.community-d2-d2-a {
    text-decoration: none;
}


/* #########################  Team  ####################### */

.team{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: start;
    margin-bottom: 219px;
}

.team1{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1246px;
    width: 100%;
    overflow-x: scroll;
    min-height:500px;
    height:100%;
}

.team h2{
    margin-top:20px;
    margin-bottom:78px;
}

.team1-d1{
    position: sticky;
    left:0px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 333px;
    backdrop-filter: blur(8px);
    height:490px;
    padding-top:20px;
    margin-bottom:10px;
}

.team1-d1 h2{
    position:relative;
    max-width:333px;
    word-wrap: normal;
}

.team-front-div{
    left:0px;
    right:0px;
    top:25px;
    position:absolute;
    display: flex;
    flex-direction: row;
    height:fit-content;
    width: fit-content;
}

.team-fr-div1{
    background:transparent;
    width:333px;
}


.team1-d2-div{
    display: flex;
    flex-direction: row;
    margin-left:49px;
}

.team2{
    margin:auto;
    display: flex;
    margin-top: 58px;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.team2-div{
    opacity: .2;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-left:136px;
}

.team2 img{
    margin-right: 30px;
}

.team2-sp{
    display: flex;
    max-width: 246px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    height: 50px;
    color: #dadaeb;
}

.team2-sp::before{
    content:'';
    margin-right: 15px;
    width: 4px;
    background: linear-gradient(179.97deg,#67ffd5 -61.13%,#bdb3ff 159.45%);
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 353px;
    min-width: 353px;
    height: 446px;
    padding: 32px;
    opacity: 1;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #373155;
    box-sizing: border-box;
    border-radius: 25px;
    transition: .5s;
    transition-timing-function: ease-in;
}

section .member-name{
    display: flex;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #fff;
    margin-bottom: 5px;
}

section .member-tag{
    margin-left: 14px;
}

section .member-work{
    font-size: 14px;
    line-height: 27px;
    color: #777187;
    margin-bottom: 32px;
    font-weight: 500;
}

.member-photo{
    width: 105px;
    height: 105px;
    margin-top: -49px;
    margin-bottom: 28px;
}

.linked{
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 32px;
    filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}


/* ######################  CEO  ################## */

.ceo{
    padding:94px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100vw;
    background: linear-gradient(181.2deg,rgba(119,113,135,.15) -14.28%,rgba(119,113,135,0) 93.87%);
    margin-left:-23px;
}

.ceo-sp{
    margin:0px 0px 92px;
    padding:32px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
    margin-bottom: 92px;
}

.ceo-d1-bdr{
    background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%), linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
    border-radius: 25px;
    padding:1px;
}

.ceo-d1{
    position: relative;
    background: #232133;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width:800px;
    height:326px;
    /* overflow-y:none; */
    overflow-x: scroll;
}

.ceo-center{
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 65px 0px 65px;
    min-width: 800px;
    min-height: 326px;
}

.ceo-info{
    /* position:absolute; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 355px;
    height: 115px;
    padding: 29px 29px;
    background: #232133;
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 0px;
    z-index: 3;
}

.ceo-info img{
    width: 74px;
    height: 69px;
}

.ceo-name{
    display: flex;
    flex-direction: column;
}

.ceo-name-sp1{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .5px;
    color: #fff;
}

.ceo-name-sp2{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: .5px;
}

.sp2-1{
    font-weight: 400;
    color: #777187;
}

.ceo-name-sp2-2{
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    color: #beb3ff;
}

.ceo-d2{
    display: flex;
    margin-top: 42px;
}

.ceo-d2 div{
    cursor: pointer;
    width: 26px;
    height: 0;
    border: 2px solid #00ffb4;
    margin: 0 6px;
    border-radius: 10px;
}

 /* ############### techno  ################  */

 .techno{
    margin:108px 0px 212px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .techno-sp{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
 }

 .techno-d1{
    display: flex;
    align-items: center;
    margin-top: 63px;
    max-width: 716px;
    width: 100%;
 }

.techno-d1-a{
    display: block;
    align-items: center;
    margin: 0 30px;
    width: 197px;
    height: 49px;
}


/* ##################  NEWS  ###################### */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-bottom:156px;
    padding:63px;
    border:1px solid red;
    justify-content: center;
    max-width: 1119px;
    width: 100%;
    background: linear-gradient(181.12deg,rgba(119,113,135,.15) .96%,rgba(119,113,135,0) 139.33%);
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 25px;
}

.news-d1d2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:74px;
    justify-content: space-between;
    height: 57px;
    min-width:500px;
    width: 100%;
    background: linear-gradient(182.67deg,rgba(119,113,135,.15) -113.79%,rgba(119,113,135,0) 238.53%);
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 0 16px 16px;
}

input{
    background-color: transparent;
    border: none;
    padding:2px;
    width:100%;
    outline: none;
    font-family: Poppins,sans-serif;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #fff;

}

.news-inp-d1{
    flex-direction: row;
    background: #4f3cc8;
    border-radius: 10px;
    padding:16.5px;
}

.news-inp-d1:hover{
    background: #6350db;
}

.news-inp-d2{
    height:24px;
    width:24px;
}

.news-sp2{
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .5px;
}

.news-sp3{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .5px;
    color: #b4b4c7;
}

/* ######################  Footer ##################### */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin:auto;
}

footer span{
    margin:28px 0px 61px 0px;
}

.ftr-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border-bottom:1px solid #3e385b;
    padding-bottom:28px;
}

.social{
    width:33%;
}

.social img{
    cursor: pointer;
    filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}

.social img:hover{
    filter: invert(77%) sepia(25%) saturate(344%) hue-rotate(213deg) brightness(93%) contrast(88%);
}

.ftr-cont-disp{
    color: rgb(255, 255, 255);
}

.ftr-cont-disp:hover{
    color: #00ffb4;
    filter: invert(77%) sepia(25%) saturate(344%) hue-rotate(213deg) brightness(93%) contrast(88%)
}

.ftr-cont-disp{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .005em;
    text-align: center;
    color: #000;
    margin-right: 37px;
    filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}

.token-bdr{
    flex-direction: row;
    padding: 1.5px;
    border-radius: 10px;
    background-blend-mode: overlay;
    background: linear-gradient(115.26deg,#4010ff 4.79%,#67ffd5 99.36%),linear-gradient(119.78deg,#fff 5.43%,hsla(0,0%,100%,0) 75.01%);
}

.token{
    width: 100%;
    background: #0f0d1e;
    border-radius: 10px;
}

.token-cont:hover{
    background: linear-gradient(181.12deg, rgba(119, 113, 135, .2) .96%, rgba(119, 113, 135, 0) 139.33%);
}

.token-cont{
    width: 100%;
    height: 100%;
    padding: 13px 32px;
    flex-direction: row;
}

.ftr-head div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ftr-cont{
    position: relative;
}

.cont-hide-ul{
    list-style-type: none;  
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background: linear-gradient(162.23deg, rgba(119, 113, 135, .2) -13.65%, rgba(119, 113, 135, 0) 218.94%);
    border-radius: 15px;
    padding: 5px 12px;
    bottom:10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .005em;
    color: #777187;
    min-width:150px;
    display: none;
}

.cont-hide-li{
    width:100%;
    margin:5px 0px 5px 0px;
    text-align: left;
}

.ftr-cont:hover .cont-hide-ul{
    display: flex;
}


/* ##### width ##### */
::-webkit-scrollbar{
    width:10px;
    height:10px;
    border-radius: 25px;
}

/* track */
::-webkit-scrollbar-track{
    background:#0f0d1e8f;
}

/* handel */
::-webkit-scrollbar-thumb{
    background:#3e385b8f;
    border-radius: 25px;
    width:5px;
}

/* handel on hover */
::-webkit-scrollbar-thumb:hover{
    background:#6351d78f;
}